PORT=3000
ZONAEPIC_PHPSESSID=tu_php_session_id
ZONAEPIC_TOKEN=
ZONAEPIC_USERNAME=Pelopelo123
ZONAEPIC_PAGE_SIZE=100
ZONAEPIC_LOOKBACK_DAYS=30
ZONAEPIC_START_DATE=
ZONAEPIC_END_DATE=
ZONAEPIC_START_TIME=00:00:00
ZONAEPIC_END_TIME=00:00:00
